.cards-container {
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.card {
    flex: 1;
    height: 300px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: flex-grow 0.5s ease, opacity 0.5s ease;
}

.card-content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.card:hover {
    flex-grow: 4;
}

.card:hover .card-content {
    opacity: 1;
}

.card-title {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.card-1 { background-image: url('./Picture/istockphoto-1406960186-612x612.jpg'); }
.card-2 { background-image: url('./Picture/temple-wat-arun-au-crepuscule-bangkok-thailande.jpg'); }
.card-3 { background-image: url('./Picture/istockphoto-160179168-612x612.jpg'); }
.card-4 { background-image: url('./Picture/Quais-porto.jpg'); }
.card-5 { background-image: url('./Picture/istockphoto-509628540-612x612.jpg'); }

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background-color: rgb(13, 110, 253);
    color: white;
}
body {
    background-image: url('../styles/Picture/anders-jilden-cYrMQA7a3Wc-unsplash.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 5rem 0;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    filter: grayscale(0.25);
}

.centered-row {
    display: flex;
    justify-content: center; /* Centre horizontalement */
}

header h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
header p {
    font-size: 1.5rem;
    margin: 0;
}